.navbar {
	background-color:#EBE9E1 !important; 
	font-weight: bold;
}

.nav-link, .navbar-brand {
	color: #000000;
}

.nav-link:hover {
	color: #ffca7b;
}

.navbar-toggler-icon {
	background-color: #000000;
}

body {
	background-color: #C2CAD0;
	text-align: center;
	 margin: 10px;
	 font-size: 20px;

}

header{
	text-align: center;
}
